.App {
  text-align: center;
  width: 100%;
}

.App-viewports {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: white;
}

.App-viewports > div {
  width: 33vw;
}

.App-link {
  color: #09d3ac;
}
